h3 {
    font-size:25px !important;
}
.btn-success:hover {
    background-color: red;
}
canvas {
    border:2px solid black;
    animation-name:change_color;
    animation-duration:2s;
    animation-iteration-count:infinite;
}
@keyframes change_color {
    from{box-shadow:1px 1px 37px pink;}
    to {box-shadow:1px 1px 37px skyblue;}
    
}